:root {
  --clr-body: rgba(46, 46, 46, 1);
  --clr-subtle-text: rgba(199, 199, 199, 1);
  --clr-yellow: rgba(250, 211, 0, 1);
  --clr-secondary: rgba(255, 255, 255, 1);
  --ff-monserrat: "Montserrat", sans-serif;
  --ff-inter: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--clr-body);
  overflow-x: hidden;
}
main,
section {
  max-width: 414px;
}
.sticky {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background: var(--clr-body);
  max-width: 413px;
  z-index: 10;
}
.first-part {
  font-family: var(--ff-monserrat);
}
.top-top-part {
  color: var(--clr-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-weight: bold;

  padding: 5px 24px;
  align-items: center;
}
.middle-top-part {
  color: var(--clr-yellow);
  align-items: center;
  text-align: center;

  font-size: 14px;
  background-color: rgb(77, 76, 76);
  padding: 10px 24px;
  font-weight: 600;
  line-height: 24px;
}
.outer-top-part {
  background-image: url("images/First\ photo\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 604px;
  color: var(--clr-secondary);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-monserrat);
  margin-top: 100px;
}
.outer-top-part,
.second-section h1 {
  line-height: 40px;
  padding-bottom: 8px;
}
.outer-top-part,
.second-section p {
  padding-bottom: 4px;
  font-size: 18px;
}

a {
  color: var(--clr-yellow);
  font-size: 18px;
  font-weight: bolder;
  line-height: 24px;
  padding: 8px;
}
.second-section {
  background-image: url("images/second\ photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 604px;
  color: var(--clr-secondary);
  font-family: var(--ff-monserrat);
  font-size: 23px;

  letter-spacing: 1px;
  text-align: center;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.second-section p {
  font-size: 18px;
}

.second-section button {
  font-size: 16px;

  border-radius: 100px;
  background: linear-gradient(90deg, var(--clr-yellow), rgb(192, 191, 191));
  border: white 1px solid;
  margin-top: 48px;
  width: 130px;
  height: 32px;
  color: white;
  letter-spacing: 0.5px;
  text-align: center;
  font-weight: bold;
  padding: 3px;
}

.third-section {
  padding: 48px 0px 24px 24px;
  font-family: var(--ff-inter);
  color: var(--clr-secondary);
}
.third-section h2 {
  font-weight: 600;
  font-size: 24px;
}
.review p {
  font-weight: lighter;
  color: rgb(168, 166, 166);
  font-size: 14px;
  width: 200px;
}
.third-section img {
  border-radius: 100%;
  object-fit: cover;
}
.third-section a {
  font-size: 14px;
}
.third-section span {
  color: yellow;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.review {
  display: flex;
  background-color: rgb(77, 76, 76);
  padding: 16px;
  justify-content: space-between;
  align-items: start;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 105px;
  font-size: 14px;
  font-family: var(--ff-inter);
}
.review h4 {
  line-height: 24px;
  padding-bottom: 4px;
  font-size: 16px;
}
.review p {
  line-height: 16px;
}
.customer {
  margin-top: 24px;
  font-size: 18px;
}
.customer p {
  color: rgb(199, 195, 195);
  font-size: 18px;
  line-height: 24px;
}
.customer h2 {
  font-size: 24px;
  font-weight: 700;
}
.customer button {
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 100px;
  background: var(--clr-yellow);
  border: none;

  color: rgb(250, 249, 249);
  letter-spacing: 0.5px;

  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 20px;
}
.fourth-section {
  background-image: url("images/Third\ photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 604px;
  padding: 24px;

  font-family: var(--ff-inter);
  color: var(--clr-secondary);
  display: flex;
  padding-bottom: 24px;
  align-items: flex-end;
  letter-spacing: 1px;
  font-weight: 700;
}
.fourth-section h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.fifth-section {
  font-size: 16px;
  font-family: var(--ff-inter);

  color: rgb(199, 195, 195);
  padding: 24px;
  line-height: 24px;
}
.fifth-section h3 {
  margin-top: 18px;
}
.fifth-section h2 {
  font-size: 24px;
  margin-bottom: 4px;
  line-height: 32px;
}
.sixth-section {
  background: url("images/Fourth\ photo\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding: 50px 24px;
  color: var(--clr-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--ff-monserrat);

  letter-spacing: 0.5px;
  margin-bottom: 30px;
  font-size: 18px;
}
.sixth-section h1 {
  text-align: center;
  font-family: var(--ff-monserrat);
  font-size: 32px;
}
.sixth-section p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
}
.sixth-section h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 32px;
}
.sixth-section a {
  padding-left: 0;
  line-height: 24px;
  font-weight: 800;
}

.footer {
  font-size: 14px;
  font-family: var(--ff-monserrat);
  padding: 35px 24px;
  color: rgb(209, 208, 208);
}
.btn {
  display: flex;
  justify-content: space-between;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(209, 208, 208);
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
}
.footer p {
  padding: 16px 0;
}
.footer h1,
h2 {
  margin: 32px 0px 20px 0px;
  font-size: 14px;
  font-weight: lighter;
  color: var(--clr-secondary);
}
.footer a {
  color: rgb(255, 252, 252);
  margin-bottom: 24px;
  padding-left: 0;
}
